button{
    border-radius: 5px;
    background-color: rgb(74, 127, 241);
    padding:10px;
    color: white;
    font-weight: bold;
    border: 0px;

}

button:hover{
    background-color: rgb(96, 111, 248);
    cursor: pointer;
}